.the_end {
    /* margin-top: 80px; */
    display: flex;
    align-items: center;
    margin-bottom: -30px;
}

.container {
    background-color: #000;
    height: 100vh;
    padding-bottom: 80px;
}
